@import url('https://fonts.googleapis.com/css?family=Raleway');

/* ______General Css________ */
* {
  padding: 0;
  margin: 0;
}

body {
  color: #129CF3;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
}

/*__________Header_Section____________ */

header {
  background-image: url("../img/health-tech.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  background-color: #000001a6;
  height: 100vh;
}

.header-captions {
  margin-top: 12rem;
}

.header-captions h1 {
  font-size: 80px;
  font-weight: bold;
}

.header-captions p {
  color: #fff;
  font-size: 22px;
}

/*____Navigation______ */

.navbar-he {
  padding-top: 10px;
  background-color: rgba(31,31,31,0.75) !important;
  border-bottom: 1px solid #6b6b6b;
}
.navbar-brand {
  color : #129CF3!important;
}
.nav-form {
  margin-left: 200px;
}

.search-input {
  width: 510px !important;
}
.button-form {
  padding: 6px 24px;
  background-color: transparent ;
  color: #fff;
  cursor: pointer;
  border : 1px solid #129CF3;
  border-radius : 4px;
}

.button-form:hover {
  background-color: #129CF3;
  transition: all 1s ;
}
